<h1>Portfolio #<%= @portfolio.id %></h1>

<p>
  <b>Picture1:</b>
  <%= @portfolio.picture1 %>
</p>

<p>
  <b>Picture2:</b>
  <%= @portfolio.picture2 %>
</p>

<p>
  <b>Caption:</b>
  <%= @portfolio.caption %>
</p>

<p>
  <b>Favorite:</b>
  <%= @portfolio.favorite %>
</p>


